<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mx-auto bg-white px-3 py-2">
    <div class="relative z-0 w-full my-2 group">
      <%= form.text_field :name, autocomplete: "name", autofocus: true, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "Name", required: true %>
    </div>

    <div class="relative z-0 w-full my-2 group">
      <%= form.url_field :icon, autocomplete: "icon", autofocus: true, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: "Icon URL", required: true %>
    </div>

    <div class="text-gray-200 font-light text-center my-2 w-full">
      <%= form.submit "Submit", class: "bg-primary hover:bg-blue-700 block py-3 px-4 rounded" %>
    </div>
  </div>
<% end %>
