<p style="color: green"><%= notice %></p>

<h1>Expenses for <%= @category.name %></h1>

<div class="total-amount">
  <p>Total Amount: <%= number_to_currency(@total_amount) %></p>
</div>

<% @expenses.each do |expense| %>
  <%= render partial: 'expense', locals: { expense: expense } %>
<% end %>

<%= link_to "Add a New Expense", new_category_expense_path(@category), class: "btn btn-primary" %>

<%= link_to "Back", root_path, class: "btn btn-secondary" %>
